<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>simple_crud</display-name>
	<welcome-file-list>
		<welcome-file>/WEB-INF/index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SimServlet</servlet-name>
		<servlet-class>com.simple.test.controller.SimpleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SimServlet</servlet-name>
		<url-pattern>/views/*</url-pattern>
	</servlet-mapping>
</web-app>